* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.pagination {
  display: flex;
  justify-content: center;
}

.contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 40px;
}

.content {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.content h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: white;
}

.content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.content-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.content:hover .content-inner {
  transform: rotateY(180deg);
}

.content-front,
.content-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  overflow-y: auto;
}

.content-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.content li {
  list-style: none;
  padding-bottom: 10px;
}

.comment-block {
  display: flex;
  justify-content: space-between;
}

.comment-body {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}

.remove-comment-btn {
  width: 25px;
  height: 25px;
}

.remove-comment-btn:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .App {
    max-width: 800px;
  }
}

@media (max-width: 850px) {
  .contents {
    grid-template-columns: repeat(2, 1fr);
  }

  .App {
    max-width: 500px;
  }
}

@media (max-width: 550px) {
  .contents {
    grid-template-columns: 1fr;
  }

  .App {
    max-width: 280px;
  }
}
